body {
	background-image: url('impermanence.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50%;
	color: #E1D7B7;
	background-size: 115%;
}

.center {
	text-align: center;
	margin: auto;
	width: 50%;
}

.pad {
	padding: 10px;
}

.margin {
	margin: 5px;
}

.error {
	color: crimson;
	text-shadow: 2px 2px 5px #F1F3C2;
	/* background-color: aliceblue; */
	font-weight: bold;
}

.invisible {
	visibility: hidden;
}

.no-pointer {
	cursor: default;
}

.writing {
	color: #E1D7B7;
	text-shadow: 2px 2px 5px #7C93C3;
}

.writing-sub {
	text-shadow: 2px 2px 5px black;
}

h4 {
	color: #E1D7B7;
	font-weight: bold;
}

.grayed-mail {
	color: gray;
	font-style: italic;
	text-shadow: 1px 1px 15px #F1F3C2;
}
